@font-face {
  font-family: 'mullerblack_italic';
  src: asset_url('fontfabric_-_mullerblackitalic-webfont.woff2') format('woff2'),
  asset_url('fontfabric_-_mullerblackitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'mullerbold';
  src: asset_url('fontfabric_-_mullerbold-webfont.woff2') format('woff2'),
  asset_url('fontfabric_-_mullerbold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'mullerlight';
  src: asset_url('fontfabric_-_mullerlight-webfont.woff2') format('woff2'),
  asset_url('fontfabric_-_mullerlight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pragmatica_blackitalic';
  src: asset_url('pragmatica_black_italic-webfont.woff2') format('woff2'),
  asset_url('pragmatica_black_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pragmaticabold_italic';
  src: asset_url('pragmatica_bold_italic-webfont.woff2') format('woff2'),
  asset_url('pragmatica_bold_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}